body {
  font-family: Rockwell, Verdana, sans-serif;
  letter-spacing: 0em;
  background: #fff url(images/header_bg.gif) repeat-x top;
  color: #353B40;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}
#header {
  width: 960px;
  margin: 0 auto;
}
#lf_py{
  background:url(images/logo.png);
  width:230px;
  height:100px;
  cursor:pointer;
}
#radio{
  width:400px;
  height:600px;
  margin: 40px auto;
}