body{ font-size:14px;color: #000000;margin-top: 0;text-align: center;}
td{ font-size:14px;color: #000000;text-align: left;}

h1{padding:5px 0;color:#07519A;background-color: #e9f2fb;font-size:16px;text-align:center;}

hr{border:0; border-bottom: 1px dashed #cccccc; height:1px; margin:0; padding:0}
ul{list-style:none;margin:0; padding:0}
li{list-style:none;margin:0; padding:0}

.indexleft {float:left;width:725px;margin-left:2px}
.indexright{float:right;width:250px;}
.gg{float:right;margin: 8px;}

.hkjqw{width:980px;text-align: left; margin: 0 auto}

.logo{float:left;margin-top:15px;width:200px;height:65px; background:url(../images/logo.gif) no-repeat center center;}
.logo li a{display:block;width:200px;height:65px;text-indent:-9999px;}

.search{float:left;height:65px;margin:20px 0 5px 40px;}
.search li{float:left;margin-right:10px;line-height:180%;}

.line{float:left;width:980px;height:1px;border-top:1px #AACCEE solid;}

a {
	font-family: ו;
	font-size: 14px;
	color: #000;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
	color: #FF0000;
}
a:active {
	text-decoration: none;
	color: #000;
}

#c td,th {
	font-family: ו;
	font-size: 12px;
	color: #000;
}
#c a {
	font-family: ו;
	font-size: 12px;
	color: #000;
}
#c a:link {
	text-decoration: none;
}
#c a:visited {
	text-decoration: none;
	color: #000;
}
#c a:hover {
	text-decoration: underline;
	color: #000;
}
#c a:active {
	text-decoration: none;
	color: #000;
}

#article {
	margin:5px 0px 5px 0px;
	width:776px;
	height:82px;
	line-height:120%;        
	border:1px solid #C3D982;
	text-align:left;
	white-space:nowrap;overflow:hidden;
}
#article ul {
	clear:left;
	list-style:none;
	display:inline;
}
#article li {
	float:left;
	width:230px;
	padding:4px 10px 4px 10px;
}

#article li a{
        width:230px;
	font-size: 13px;
}

.diqu {float:left;width:760px;font-size: 14px;color: #DD4B39; margin-top:9px;margin-bottom:10px;margin-left:14px; }

.dianshi{	float:left;width:760px;margin-bottom:10px;}
.dianshi ul {	display:inline;}
.dianshi li {float:left; width:170px; height:25px;line-height:25px;padding-left:10px;margin-top:5px;font-size: 13px;text-overflow:ellipsis; white-space:nowrap;overflow:hidden;}
.dianshi li span {color:#aaa;font-size: 12px;font-family:Tahoma, Arial, Helvetica, Sans-Serif;}
.dianshi li a{color:#0360AF; height:25px; padding-left:5px; line-height:25px;text-decoration:none;}
.dianshi li a:hover{color:#eb0101;text-decoration:none;}

.Xg ul {display:inline;}
.Xg li {float:left; width:140px;heig height:22px;line-height:22px;padding-left:10px;background:url(/images/arrow.gif) no-repeat left center;background-position: 6px 7px;text-overflow:ellipsis; white-space:nowrap;overflow:hidden;}
.Xg li a{color:#0360AF; padding-left:5px;font-size: 13px;text-decoration:none;}
.Xg li a:hover{color:#eb0101;text-decoration:none;}

.sign{width:100%;width:523px;font-size:14px;font-family:Arial, Helvetica, Sans-Serif;text-align:left;}
.sign a{padding-left:5px;color:#0360AF;cursor:pointer;}

.right{float:right;width:720px;}
.left{float:left;width:230px;}


.boxl{float:right;width:340px;text-align:center;}
.boxr{float:left;width:340px;}
.jia{width:350px;margin-top:10px;}
.boxr li{width:340px;text-align:left;padding:8px 0 8px 0;border-top: 1px #ccc dashed;}
.gbInfo{float:left;width:730px;color: #333;line-height:160%;padding:10px 15px 10px 15px;border-top: 1px #ccc dashed;}

.xg{padding:10px 15px 10px 15px;width:220px;border:1px solid #AACCEE;overflow:hidden;}
.xg span{color:#07519A;font-size:14px;font-weight:bold;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

.xgg { float:left;width:190px;height:100%;margin:5px 8px 0 0;border-top:1px solid #AACCEE; white-space:nowrap;overflow:hidden;}
.xgg ul {display:inline;}
.xgg li {float:left;width:150px; height:25px;line-height:25px;margin-top:3px;text-align:left;}
.xgg li a{color:#0360AF; height:25px; line-height:25px;font-size: 13px;padding-left:2px;text-decoration:none;white-space:nowrap;}
.xgg li a:hover{color:#eb0101;text-decoration:none;}

.xgg span{color: #008800;font-size:12px; margin:0 5px}
.xgg2{width:190px;margin-top:5px;padding-top:10px;line-height:180%;font-size:12px;border-top:1px solid #AACCEE;overflow:hidden;}

.k{margin-top:10px}

.WS  { width:720px;height:100%; border:1px solid #AACCEE; background:#fff;white-space:nowrap;overflow:hidden;}
.WS .title {padding-top:5px;padding-bottom:6px;padding-left:35px;color: #333;font-size: 14px;}
.WS ul {display:inline;}
.WS li {float:left;width:71px;list-style: none; height:25px;line-height:25px;text-align:center;margin-top:3px;font-size: 13px;}
.WS li a{color:#0360AF; height:25px; line-height:25px;text-decoration:none;white-space:nowrap;}
.WS li a:hover{color:#eb0101;text-decoration:none;}

.bottom{float:left;width:980px;text-align:center;line-height:150%;margin-top: 10px ; border-top: 1px #bbbbbb dashed;PADDING: 10px 0px 10px 0px; }

